:root {
  --sn-stylekit-editor-font-family: "Lato", sans-serif;
  --sn-stylekit-sans-serif-font: "Lato", sans-serif;

  --sn-stylekit-foreground-color: #0f172a;
  --sn-stylekit-paragraph-text-color: #1e293b;

  --sn-stylekit-background-color: #f0f5fa;
  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);

  --sn-stylekit-secondary-background-color: #e2e8f0;
  --sn-stylekit-secondary-foreground-color: #0f172a;

  --sn-stylekit-border-color: #cbd5e1;
  --sn-stylekit-secondary-border-color: #cbd5e1;

  --sn-stylekit-neutral-color: #3b82f6;
  --sn-stylekit-neutral-contrast-color: white;

  --sn-stylekit-info-color: #2563eb;
  --sn-stylekit-info-contrast-color: white;
  --sn-stylekit-info-color-darkened: #1e40af;

  --sn-stylekit-success-color: #3965ca;
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: #ea580c;
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: #dc2626;
  --sn-stylekit-danger-contrast-color: white;

  --sn-stylekit-shadow-color: #cbd5e1;

  --navigation-item-selected-background-color: #bfdbfe;
  --preferences-navigation-icon-color: #1e3a8a;

  --sn-stylekit-info-backdrop-color: #dbeafe;

  --sn-stylekit-contrast-background-color: #e2e8f0;
  --sn-stylekit-contrast-foreground-color: #0f172a;
  --sn-stylekit-contrast-border-color: #94a3b8;

  --sn-stylekit-secondary-contrast-background-color: #f1f5f9;
  --sn-stylekit-secondary-contrast-foreground-color: #0f172a;
  --sn-stylekit-secondary-contrast-border-color: #cbd5e1;

  --sn-stylekit-input-border-color: #94a3b8;

  --sn-stylekit-scrollbar-thumb-color: #93c5fd;
  --sn-stylekit-scrollbar-track-border-color: #f0f5fa;

  --sn-stylekit-passive-color-0: var(--sn-stylekit-neutral-color);
  --sn-stylekit-passive-color-3: var(--sn-stylekit-contrast-border-color);
  --sn-stylekit-passive-color-4: var(--sn-stylekit-secondary-background-color);
  --sn-stylekit-passive-color-4-opacity-variant: #bfdbfe;
  --sn-stylekit-passive-color-5: var(--sn-stylekit-secondary-background-color);

  --sn-stylekit-general-border-radius: 2px;

  --sn-stylekit-theme-type: light;
}

#blocks-editor hr:after {
  background-color: #3b82f6;
}
